.card
{
    position: relative;
    width: 33.75vh;
    padding: 50px;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
}

.card > h3
{
    position: absolute;
    left: 25px;
    bottom: 15px;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

.tinderCards-cardContainer
{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.swipe
{
    position: absolute;
}

b
{
    font-weight: bolder;
}